@model IEnumerable<AppAdvogados.Models.Vara>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vara</h2>
<p>
    @Html.ActionLink("Nova Vara", "New", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Não temos nenhuma vara registrada.</p>
}
else
{
    <table id="vara" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Vara</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vara in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@vara.Nome, "Edit", new { vara.Id })</td>
                    <td>
                        <button data-vara-id="@vara.Id" class="btn-link js-delete">Remover</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#vara").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    var result = confirm("Tem certeza que quer remover esta vara?");

                    if (result) {
                        $.ajax({
                            url: "/vara/delete/" + button.attr("data-vara-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }

                    /*if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customers/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }*/
                });
        });
    </script>
}